* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background_color: #22252a;
    --lighter_black: #2f3640;
    --theme_color: #fa8231;

}

body {
    font-family: Poppins;
    background: var(--background_color);
    color: white;
}

.container {
    text-align: center;
    width: 1000px;
    height: 700px;
    margin: auto;
    margin-bottom: 60px;
}

.container .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.container .card {
    background-color: var(--lighter_black);
    margin-right: 20px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    z-index: 1000;
}

.container .card::before {
    content: '';
    width: 70px;
    height: 70px;
    background: var(--theme_color);
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100px;
    transition: all 0.5s ease;
    z-index: -1;

}

.container .card:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.container .card:hover .icon-place {
    background: white;
    color: var(--theme_color);
}

.container .card:hover .card-text p {
    color: white;
}

.container .card:hover a {
    border-bottom-color: white;
}




.container .card .card-text {
    margin-top: 20px;
    line-height: 30px;
}

.container a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid var(--theme_color);
    transition: all 0.5s ease;
}

.container .card .icon-place {
    font-size: 30px;
}

.container .card .card-text p {
    color: rgb(177, 177, 177);
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.container .card .icon-place {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--theme_color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.containe .card .icon-place {
    font-size: 30px;
}


.title {
    margin: auto;
    width: 1000px;
    text-align: center;
    margin-top: 40px;
}

.title p {
    line-height: 30px;
}

.title span {
    color: var(--theme_color);
}